.container {
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        width: 50%;
        background-color: #263238;
        text-align: center;
      }
      .update
      {
         display: inline-block;
         width: 100%;
         height: 100%;
         margin-bottom: 0.5em;
         padding-top: .6em;
         padding-bottom: .6em;
         text-align: center;
         font-size: 16px;
         text-decoration: none;
         color: #fff;
         background-color: #dae640;
         border-radius: 5px;
         border: solid white 2px;
      }

      .update:hover {
        background-color: rgb(255, 102, 0);
        cursor: pointer;
      }

      .delete
      {
         display: inline-block;
         width: 100%;
         height: 100%;
         margin-bottom: 0.5em;
         padding-top: .6em;
         padding-bottom: .6em;
         text-align: center;
         font-size: 16px;
         text-decoration: none;
         color: #fff;
         background-color: #04AA6D;
         border-radius: 5px;
         border: solid white 2px;
      }

      .delete:hover {
        background-color: rgb(255, 136, 0);
        cursor: pointer;
      }


      #table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border-width: 4px;
        border-color: white;
        border-style: solid;
        font-size: 18px;

      }

      #table td, #table th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #table tr:nth-child(even){background-color: white;}
      #table tr:nth-child(odd){background-color: #EDF7FF;}

      #table tr:hover {background-color: #ddd;}

      #table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #263238;
        color: white;
        font-size: 20px;
      }

      h2 {
        color: white;
        font-size: 60px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
      }

      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      body {
        background: #263238;
      }