<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet">
  </head>    
  <body>
    <div class="topnav">
      <a th:href="@{/}">Create</a>
      <a th:href="@{/grades}">Tasks</a>
    </div>   
    <div class="container">
      <h2> Create Task </h2>
      <form method="post" th:object="${grade}" th:action="@{/handleSubmit}">
        <input type="text" placeholder="Who" th:field="*{name}">
        <input type="text" placeholder="Task" th:field="*{subject}">
        <input type="date" style="color:black" th:field="*{score}">
        <input type="hidden" th:field="*{id}">
        <br><br>
        <input type="submit" value="Create">
      </form>  
    </div>
</body>
</html>