<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
  <head> 
    <title>Tasks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/grades-stylesheet.css}" rel="stylesheet">
  </head>
  <body>

    <div class="topnav">
      <a th:href="@{/}">Create</a>
      <a th:href="@{/grades}">Tasks</a>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <h2 > Tasks </h2>
      <table id="table" style="max-width: 800px;"> 
        <tr>
          <th>Who</th>
          <th>Task</th>
          <th>Date</th>
        </tr>
        <tr th:each="grade : ${grades}">
          <td th:text="${grade.name}"></td>
          <td th:text="${grade.subject}"></td>
          <td th:text="${#dates.format(grade.score, 'yyyy-MM-dd')}"></td>
          <td> <a role="button" class="Update" th:href="@{/(id = ${grade.id})}">Update</a></td>
          <td> <a role="button" class="Delete" th:href="@{/completed(id = ${grade.id})}">Completed</a></td>
        </tr>
      </table>
    </div>
    
  </body>
</html>